**

!.dockerignore
!LICENSE

!platform
!platform/package.json
!platform/package-lock.json
!platform/docker
platform/docker/**
!platform/docker/media-worker
!platform/docker/media-worker/assemble-runtime.sh
!platform/src
!platform/src/**
platform/src/development
platform/src/development/**

!src
!src/shared
!src/shared/**
